# Nextflow logs and cache
.nextflow.log*
.nextflow/

.DS_Store*

# Nextflow work directory
work/

# Local config / local test data
local.config
db/*

/home/segofied/Documents/bgc_quast_ppl/tmp_test
# example test data
example_test_data/test_genome_BSubs
example_test_data/test_genome
example_test_data/test_genome_bgc_quast_assembly

example_test_data/samplesheet.csv
/home/segofied/Documents/bgc_quast_ppl/example_test_data/samplesheet.csv

# example_pipeline_outputs 
example_pipeline_output/results_prev
example_pipeline_output/results_compare_to_ref_fixed_160726/bgc
example_pipeline_output/results_compare_to_ref_fixed_160726/pipeline_info

# Local cloned repo / notes
todo_text/

# Diagrams if you do not want to commit them
Diagram

null/
results_*/

example_pipeline_output/_test_gcf_venn_c0.3.svg
