# Nextflow logs and cache
.nextflow.log*
.nextflow/

# Nextflow work directory
work/

# Local config / local test data
local.config
db/
results*
results_prev/
test_all/
test_genome_bgc_quast_assembly/
err_handling_tests/

# Local cloned repo / notes
funcscan_cloned_repo/
todo_text/

# Diagrams if you do not want to commit them
Diagram/
