# Nextflow logs and cache
.nextflow.log*
.nextflow/

# Nextflow work directory
work/

# Local config / local test data
local.config
db/

# example test data
example_test_data/test_genome_BSubs
example_test_data/test_genome

# example_pipeline_outputs 
example_pipeline_output/results_compare_to_ref_fixed_160726
example_pipeline_output/results_prev

# Local cloned repo / notes
todo_text/

# Diagrams if you do not want to commit them
Diagram/
