/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    bgc_quast_ppl Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                                        = null

    // Max resource options 
    max_cpus                                     = 2
    max_memory                                   = '8.GB'
    max_time                                     = '24.h'


    // Boilerplate options
    outdir                                       = null
    publish_dir_mode                             = 'copy'
    email                                        = null
    email_on_fail                                = null
    plaintext_email                              = false
    monochrome_logs                              = false
    hook_url                                     = null
    help                                         = false
    help_full                                    = false
    show_hidden                                  = false
    version                                      = false
    pipelines_testdata_base_path                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix                          = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')



    // Annotation options
    annotation_tool                              = 'pyrodigal'
    save_annotations                             = false

    annotation_prodigal_singlemode               = false
    annotation_prodigal_closed                   = false
    annotation_prodigal_transtable               = 11
    annotation_prodigal_forcenonsd               = false

    annotation_pyrodigal_singlemode              = false
    annotation_pyrodigal_closed                  = false
    annotation_pyrodigal_transtable              = 11
    annotation_pyrodigal_forcenonsd              = false
    annotation_pyrodigal_usespecialstopcharacter = false

    annotation_bakta_db                          = null
    annotation_bakta_db_downloadtype             = 'full'
    annotation_bakta_singlemode                  = false
    annotation_bakta_mincontiglen                = 1
    annotation_bakta_translationtable            = 11
    annotation_bakta_gram                        = '?'
    annotation_bakta_complete                    = false
    annotation_bakta_renamecontigheaders         = false
    annotation_bakta_compliant                   = false
    annotation_bakta_trna                        = false
    annotation_bakta_tmrna                       = false
    annotation_bakta_rrna                        = false
    annotation_bakta_ncrna                       = false
    annotation_bakta_ncrnaregion                 = false
    annotation_bakta_crispr                      = false
    annotation_bakta_skipcds                     = false
    annotation_bakta_pseudo                      = false
    annotation_bakta_skipsorf                    = false
    annotation_bakta_gap                         = false
    annotation_bakta_ori                         = false
    annotation_bakta_activate_plot               = false
    annotation_bakta_hmms                        = null

    annotation_prokka_singlemode                 = false
    annotation_prokka_rawproduct                 = false
    annotation_prokka_kingdom                    = 'Bacteria'
    annotation_prokka_gcode                      = 11
    annotation_prokka_cdsrnaolap                 = false
    annotation_prokka_rnammer                    = false
    annotation_prokka_mincontiglen               = 1
    annotation_prokka_evalue                     = 0.000001
    annotation_prokka_coverage                   = 80
    annotation_prokka_compliant                  = true
    annotation_prokka_addgenes                   = false
    annotation_prokka_retaincontigheaders        = false

    // Database downloading options
    save_db                                      = false

    // BGC options
    run_bgc_screening                            = true

    bgc_mincontiglength                          = 3000
    bgc_savefilteredcontigs                      = false

    bgc_skip_antismash                           = false
    bgc_antismash_db                             = null
    bgc_antismash_cbgeneral                      = false
    bgc_antismash_cbknownclusters                = false
    bgc_antismash_cbsubclusters                  = false
    bgc_antismash_smcogtrees                     = false
    bgc_antismash_ccmibig                        = false
    bgc_antismash_contigminlength                = 3000
    bgc_antismash_hmmdetectionstrictness         = 'relaxed'
    bgc_antismash_pfam2go                        = false
    bgc_antismash_rre                            = false
    bgc_antismash_taxon                          = 'bacteria'
    bgc_antismash_tfbs                           = false
    bgc_antismash_minimal                        = false
    bgc_antismash_full                           = false

    bgc_skip_deepbgc                             = false
    bgc_deepbgc_db                               = null
    bgc_deepbgc_score                            = 0.5
    bgc_deepbgc_prodigalsinglemode               = false
    bgc_deepbgc_mergemaxproteingap               = 0
    bgc_deepbgc_mergemaxnuclgap                  = 0
    bgc_deepbgc_minnucl                          = 1
    bgc_deepbgc_minproteins                      = 1
    bgc_deepbgc_mindomains                       = 1
    bgc_deepbgc_minbiodomains                    = 0
    bgc_deepbgc_classifierscore                  = 0.5

    bgc_skip_gecco                               = false
    bgc_gecco_cds                                = 3
    bgc_gecco_threshold                          = 0.8
    bgc_gecco_pfilter                            = 1E-9
    bgc_gecco_edgedistance                       = 0
    bgc_gecco_mask                               = false

    // bgc-quast options
    bgc_quast_mode                               = 'compare-samples'
    bgc_quast_quastdir                           = null
    bgc_quast_edge_distance                      = 100
    bgc_quast_min_bgc_length                     = 0
    bgc_quast_merge_distance                     = 0
    bgc_quast_overlap_fraction                   = 0.9
    bgc_quast_output_bgcs                        = false
    bgc_quast_debug                              = false
    

    // Config options
    config_profile_name                          = null
    config_profile_description                   = null

    custom_config_version                        = 'master'
    custom_config_base                           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact                       = null
    config_profile_url                           = null

    // Schema validation default options
    validate_params                              = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
}

// Load nf-core custom profiles from different institutions (guarded; harmless if offline)
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set default registry for container engines (not used unless an engine is enabled)
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'bgc_quast_ppl'
    author          = 'Sego'
    description     = 'BGC-only pipeline: prep, annotation, BGC prediction, and bgc-quast analysis.'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.10.5'
    version         = '1.0.0dev'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.4.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
    help {
        enabled             = true
        command             = "nextflow run main.nf -profile conda --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter       = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText          = """
-------------------------------------------------
  bgc_quast_ppl ${manifest.version}
-------------------------------------------------
"""
        afterText           = """
* The nf-core framework
    ----------
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText  = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
